{%  extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
{#        <form method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <button type="submit" class="btn btn-primary">#}
{#                <span class="glyphicon glyphicon-cloud-upload"></span> Upload Resume#}
{#            </button>#}
{#        </form>#}

    <div class="well text-muted text-center" style="padding-top: 4rem; padding-bottom: 4rem;">
{#        <span class="glyphicon glyphicon-triangle-bottom" style="font-size: 4rem;"></span>#}
        <i class="fa fa-upload fa-lg"></i>
        <h3>Drop Resume/s Here to Upload</h3>
    </div>
    <button type="button" class="btn btn-primary js-upload-resumes">
         Upload Resume/s
    </button>

    <input id="fileupload" type="file" name="file" multiple
       style="display: none;"
       data-url="{% url 'resume_upload' %}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    <br><br>
    <table id="gallery" class="table table-bordered">
      <thead>
        <tr>
          <th>Resumes</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    </div>


    <!-- Modal -->
    <div id="modal-progress" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button id="close" type="button" class="close" data-dismiss="modal" style="display: none">&times;</button>
            <h4 class="modal-title">Uploading...</h4>
          </div>
          <div class="modal-body">
            <div class="progress">
	          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" id="alert-error" role="alert" style="display: none"></div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jQuery-File-Upload/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jQuery-File-Upload/js/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock %}